* {
	margin: 10px;
	padding: 10px;
}

body{
	background-color: #afeeee;
}

label{
	color: blue;
}

.form-control{

}

thead{
	color: white;
}

.dropdown-menu {
	background-color: #afeeee;
}

td{
	background-color: white;
	color: #4682B4;
}

table{
	color: white;
	border: solid 5px white;
}
